<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Treasure hunter</title>
</head>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.0.4/pixi.min.js"></script> -->
<script src="https://underscorejs.org/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.5/pixi.min.js"></script>

<body>
    <script type="text/javascript">
        //Create a Pixi Application
        let app = new PIXI.Application({
            width: 512, // default: 800
            height: 512, // default: 600
            antialias: true, // default: false
            transparent: false, // default: false
            resolution: 1 // default: 1
        });

        //Add the canvas that Pixi automatically created for you to the HTML document
        document.body.appendChild(app.view);

        //Load an image and run the `setup` function when it's done
        PIXI.loader
            .add("treasureHunterImages", "../images/treasure-hunter.json")
            .on("progress", (loader, resource) => {
                console.log("loading: " + resource.url);
                console.log("progress: " + loader.progress + "%");
            })
            .load(setup);

        //This `setup` function will run when the image has loaded
        function setup() {
            //There are 3 ways to make sprites from textures atlas frames

            //1. Access the `TextureCache` directly
            let dungeonTexture = PIXI.TextureCache["dungeon.png"];
            let dungeon = new PIXI.Sprite(dungeonTexture);
            app.stage.addChild(dungeon);

            //2. Access the texture using throuhg the loader's `resources`:
            let explorer = new PIXI.Sprite(
                PIXI.loader.resources.treasureHunterImages.textures["explorer.png"]
            );
            explorer.x = 68;

            //Center the explorer vertically
            explorer.y = app.stage.height / 2 - explorer.height / 2;
            app.stage.addChild(explorer);

            //Capture the keyboard arrow keys
            let left = keyboard(37),
                up = keyboard(38),
                right = keyboard(39),
                down = keyboard(40);

            //Left arrow key `press` method
            left.press = () => {
                //Change the explorer's velocity when the key is pressed
                explorer.vx = -5;
                explorer.vy = 0;
            };

            //Left arrow key `release` method
            left.release = () => {
                //If the left arrow has been released, and the right arrow isn't down,
                //and the explorer isn't moving vertically:
                //Stop the explorer
                if (!right.isDown && explorer.vy === 0) {
                    explorer.vx = 0;
                }
            };

            //Up
            up.press = () => {
                explorer.vy = -5;
                explorer.vx = 0;
            };
            up.release = () => {
                if (!down.isDown && explorer.vx === 0) {
                    explorer.vy = 0;
                }
            };

            //Right
            right.press = () => {
                explorer.vx = 5;
                explorer.vy = 0;
            };
            right.release = () => {
                if (!left.isDown && explorer.vy === 0) {
                    explorer.vx = 0;
                }
            };

            //Down
            down.press = () => {
                explorer.vy = 5;
                explorer.vx = 0;
            };
            down.release = () => {
                if (!up.isDown && explorer.vx === 0) {
                    explorer.vy = 0;
                }
            };

            app.ticker.add(() => hunterMove(explorer));

            //3. Create an optional alias called `id` for all the texture atlas
            //frame id textures.
            let images = PIXI.loader.resources.treasureHunterImages.textures;

            //Make the treasure box using the alias
            let treasure = new PIXI.Sprite(images["treasure.png"]);
            app.stage.addChild(treasure);

            //Position the treasure next to the right edge of the canvas
            treasure.x = app.stage.width - treasure.width - 48;
            treasure.y = app.stage.height / 2 - treasure.height / 2;
            app.stage.addChild(treasure);

            //Make the door
            let door = new PIXI.Sprite(images["door.png"]);
            door.position.set(32, 0);
            app.stage.addChild(door);

            //Make the blobs
            let numberOfBlobs = 10,
                spacing = 48,
                xOffset = 150;

            //Make as many blobs as there are `numberOfBlobs`
            for (let i = 0; i < numberOfBlobs; i++) {
                //Make a blob
                let blob = new PIXI.Sprite(images["blob.png"]);

                //Space each blob horizontally according to the `spacing` value.
                //`xOffset` determines the point from the left of the screen
                //at which the first blob should be added.
                let x = spacing * i + xOffset;

                //Give the blob a random y position
                //(`randomInt` is a custom function - see below)
                let y = _.random(0, app.stage.height - blob.height);

                //Set the blob's position
                blob.x = x;
                blob.y = y;
                blob.vx = _.random(1, 10); //v speed
                blob.hy = _.random(1, 10); //h speed
                //Add the blob sprite to the stage
                app.stage.addChild(blob);

                app.ticker.add(() => blobMove(blob));
            }
        }

        function xBoundaryDetection(direction, target, amend) {
            amend = amend || 0;
            if (direction) {
                return target.x + target.width + amend <= app.stage.x + app.stage.width;
            } else {
                return app.stage.x + amend <= target.x;
            }
        }

        function yBoundaryDetection(direction, target, amend) {
            amend = amend || 0;
            if (direction) {
                return target.y + target.height + amend <= app.stage.y + app.stage.height;
            } else {
                return app.stage.y + amend <= target.y;
            }
        }

        function blobMove(blob) {
            let hd = _.random(0, 10) % 2; //horizontal direction
            let vd = _.random(0, 10) % 2; //vertical direction
            hd = hd == 1;
            vd = vd == 1;
            hd = yBoundaryDetection(hd, blob, 50) == hd;
            vd = xBoundaryDetection(vd, blob, 50) == vd;
            if (hd) {
                blob.y += blob.hy;
            } else {
                blob.y -= blob.hy;
            }
            if (vd) {
                blob.x += blob.vx;
            } else {
                blob.x -= blob.vx;
            }
        }

        function hunterMove(hunter) {
            // Use the hunter's velocity to make it move
            vx = hunter.vx || 0;
            vy = hunter.vy || 0;
            hunter.x += vx;
            hunter.y += vy
        }

        function keyboard(keyCode) {
            let key = {};
            key.code = keyCode;
            key.isDown = false;
            key.isUp = true;
            key.press = undefined;
            key.release = undefined;
            //The `downHandler`
            key.downHandler = event => {
                if (event.keyCode === key.code) {
                    if (key.isUp && key.press) key.press();
                    key.isDown = true;
                    key.isUp = false;
                }
                event.preventDefault();
            };

            //The `upHandler`
            key.upHandler = event => {
                if (event.keyCode === key.code) {
                    if (key.isDown && key.release) key.release();
                    key.isDown = false;
                    key.isUp = true;
                }
                event.preventDefault();
            };

            //Attach event listeners
            window.addEventListener(
                "keydown", key.downHandler.bind(key), false
            );
            window.addEventListener(
                "keyup", key.upHandler.bind(key), false
            );
            return key;
        }
    </script>
</body>

</html>
